:root {
  --primary-green: #008000; /* Dark green */
  --secondary-green: #00b300; /* Medium green */
  --tertiary-green: #00e600; /* Light green */
  height: 100vh;
}

body {
  background: linear-gradient(
    to bottom,
    var(--primary-green),
    var(--secondary-green),
    var(--tertiary-green)
  );
}
