.body {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.footer {
  margin-top: 370px;
}

.widgetContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
}
